@{
    ViewData["Title"] = "Planning";
}

@model List<GamesViewModel>


<div class="alert-info">Welkom bij Team Manager. U dient in te <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">loggen</a> om wedstrijden te zien</div>    
    

